.cUDivSection {
    display: flex;
    gap: 40px;
    padding: 40px 0px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--grey2-color);
    align-items: stretch;
    /* Ensures children stretch to equal height */
}

.cULeftSide,
.cURightSide {
    flex: 1;
}


.iframeContact {
    width: 100%;
}

.cULSText {
    width: 100%;
    text-align: left;
    padding-bottom: 40px;
}

.cURSForm {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.cURSForm>div:last-child {
    padding-top: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.formGroup>label {
    font-weight: bold;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--grey2-color);
    border: 1px solid transparent;
    border-radius: var(--bor-rad);
    transition: all var(--trans-2);
}

.formGroup input:focus,
.formGroup textarea:focus {
    border: 1px solid var(--grey-color);
    box-shadow: 0 0 3px rgba(70, 70, 70, 0.5);
}

.cFSendBtn {
    font-size: 1rem !important;
}

.cURSText {
    width: 100%;
    text-align: left;
    padding-bottom: 40px;
}




/* =================== Responsiveness ======================== */


@media screen and (max-width: 700px) {
    .iframeContact {
        height: 380px;
    }
}

@media screen and (max-width: 700px) {
    .cUDivSection {
        flex-direction: column-reverse;
        gap: 40px;
    }
}

@media screen and (max-width: 580px) {

    .iframeContact {
        height: 300px;
    }
}
