.cFSection {
    border-top: 1px solid var(--grey2-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    gap: 2.5rem;

    border-top: 1px solid var(--grey2-color);
    padding: 40px 0;

    width: 100%;
    background-color: blue;
    /* Remove */
    overflow: hidden;

    /* Adjust dimensions */
    height: auto;
    /* margin: 10px; */
}

.cFCards {
    background-color: red;
    display: flex;
    flex-direction: column;
    background-color: var(--pry-color);
    border: 1px solid var(--sec-color);
    border-radius: var(--bor-rad2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s;
    background-color: var(--grey2-color);

    height: 100px;
    width: 100px;
}

