/* Container Styles */
.our-projects-container {
    padding: 50px 0px;
}

.sectionTitle {
    margin-bottom: 30px;
    margin-left: 15px;
    text-transform: uppercase;
}


/* Slider Card Styles */
.card {
    display: flex;
    flex-direction: column;
    background-color: var(--pry-color);
    border: 1px solid var(--sec-color);
    border-radius: var(--bor-rad2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s;
    background-color: var(--grey2-color);
}

.card:hover {
    transform: scale(1.01) translateY(4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.slick-prev,
.slick-next {
    width: 40px !important;
    height: 40px !important;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    color: var(--grey-color) !important;
    font-size: 40px !important;
}

.slick-dots li button:before {
    /* color: red !important; */
    font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
    /* color: red !important; */
}

/* Card Image */
.card-image {
    width: 100%;
    aspect-ratio: 1.5/1;
    object-fit: cover;
    transition: all var(--trans-4);
}

.card-image:hover {
    filter: grayscale(1);
}

/* Card Content */
.card-content {
    padding: 20px 20px;
}

.postedOn {
    font-size: 0.9rem;
}

.cardTitle {
    margin-bottom: 10px;
}

.card-description {
    /* color: #555; */
}

.arrowIcon {
    /* background-color: red; */
}

.FaArrowCircleRight {
    margin-top: 10px;
    width: var(--Icon-sz-1);
    height: var(--Icon-sz-1);
    transition: var(--trans-2);
    cursor: pointer;
    color: var(--sec-color);
}

.FaArrowCircleRight:hover {
    transform: translateX(4px);
}

/* Slick Carousel Customization */
.slick-slide {
    padding: 10px;
    outline: none;
    /* Remove focus outline */
}

.slick-dots {
    bottom: -25px;
    /* Adjust dots position */
}

.slick-dots li button:before {
    font-size: 12px;
    color: #4CAF50;
    /* Active dot color */
}

.slick-dots li.slick-active button:before {
    color: #45a049;
    /* Highlight active dot */
}

/* Responsive Adjustments */
@media (max-width: 768px) {}

@media (max-width: 480px) {

    .slick-prev,
    .slick-next {
        display: none;
    }

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }
}