.signUpSection {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
}

.sUImgSection {
    flex: 1;
    background-color: #D8D7D7;

    position: relative;
    background-image: url('../../assets/images/signUpImg.png');
    background-size: cover;
    background-position: center;
    color: var(--pry-color);
    height: 100vh;
}

.sURightSection {
    flex: 1;
    padding: 2.5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    overflow-y: scroll;
}

.sUFormSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Check */
    height: auto;
    border-radius: var(--bor-rad2);
    border: 1px solid var(--grey1-color);
    max-width: 370px;
    padding: 20px 30px;

    /*  */
    gap: 25px;
}

.sUFormSection input {
    width: 100%;
    padding: 0.6rem 0.8rem;
    background-color: var(--greyLight-color);
    border-bottom: 1px solid var(--grey2-color);
    border-radius: var(--bor-rad);
    transition: all var(--trans-1);
}

.sUFormSection input:focus {
    border-bottom: 1px solid var(--grey-color);
    background-color: var(--grey3-color);
}

.passwordInput {
    position: relative;
}

.passwordInput span {
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--grey-color);
    font-size: 18px;
}

.fSubmitBtn {
    font-size: 18px;
}

.orSeparator {
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    /*  */
    position: relative;
    padding: 10px 0;
}

.orSeparator p {
    padding: 8px;
    border-radius: var(--bor-rad);
    border: 1px solid var(--grey-color);
    width: fit-content;
    display: block;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--pry-color);
}


.orSeparator:after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: var(--sec-color);
    z-index: -1;
}

.sUBtnDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.sUBtn {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.sUBtnIcon {
    font-size: 18px;
}

.sUFormSection h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.fLoginText {
    font-size: 14px;
}

.fLoginText a {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .sUImgSection {
        display: none;
    }

    .sURightSection {
        padding: 5% 4.5%;
    }
}

@media screen and (max-width: 375px) {
    .sUFormSection {
        padding: 20px 20px;
    }
}