@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --pry-color: #ffffff;
  --sec-color: #000000;
  --green-color: #228b22;
  --yellow-color: #e6c200;
  --blue-color: #87ceeb;
  --grey-color: #757575;
  --grey1-color: #a9a9a9;
  --grey2-color: #dbdbdb;
  --grey3-color: #e7e7e7;

  /* Font Family */
  --d-script: "Dancing Script";

  /* Font Weight */
  --font-bold: bold;

  /* Transition Duration*/
  --trans-1: 0.3s;
  --trans-2: 0.5s;
  --trans-3: 0.8s;
  --trans-4: 1s;

  /* Border Radius */
  --bor-rad: 4px;
  --bor-rad1: 6px;
  --bor-rad2: 12px;

  /* Button */
  --btn-ft-sz: 1.25rem;
  --btn-pd: 0.625rem 1.25rem;

  /* Icons */
  --Icon-sz-1: 2.188rem;
  /* 35px */
  --Icon-sz-2: 2.5rem;
  /* 40px */
  --Icon-sz-3: 2.813rem;
  /* 45px */
  --Icon-sz-4: 3.438rem;
  /* 55px */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}


html {
  font-size: 100%;
}

/* ================== GENERAL STYLES ================== */

.container {
  padding: 10px 5%;
  margin: auto;
  min-height: 100vh;
}

/* ================= Font Family ================= */


/* font-family: "Montserrat", "Roboto", "Dancing Script",serif; */

h1 {
  font-family: "Montserrat", serif;
}

h2,
h3,
h4,
p {
  font-family: "Roboto", serif;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-weight: 600;
  font-size: 1.9rem;
}

h3 {
  font-weight: 600;
  font-size: 1.55rem;
}

h4 {
  font-weight: 600;
  font-size: 1.3rem;
}

h5 {
  font-weight: 600;
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
}



/* ================= General & Component Classes================= */
.titleUnderline {
  position: relative;
  display: inline-block;
}

.titleUnderline:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  /* width: 100%; */
  width: 5rem;
  height: 6px;
  background: var(--sec-color);
}


.centerTitleUnderline {
  position: relative;
  text-align: center;
}

.centerTitleUnderline:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  /* width: 100%; */
  width: 5rem;
  height: 6px;
  background: var(--sec-color);
}

.reverseFlexSection {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  /*  */
  border-top: 1px solid var(--grey2-color);
  padding: 2.5rem 0;

  align-items: stretch; /* Ensures children stretch to equal height */
}

.grey3 {
  background-color: var(--grey3-color);
}





/* ================= Responsiveness ================= */
/* ======== Laptop ======== */
@media screen and (max-width: 1024px) {
  html {
    /* font-size: 50%; */
  }
}

/* ======== Tablet ======== */
@media screen and (max-width: 768px) {
  html {
    /* font-size: 40%; */
  }
}

/* ======== Mobile ======== */
@media screen and (max-width: 425px) {
  html {
    /* font-size: 35%; */
  }
}

/* ======== Mobile ======== */
@media screen and (max-width: 320px) {
  html {
    /* font-size: 30%; */
  }
}

@media screen and (max-width: 725px) {
  .flexSection {
    flex-direction: column-reverse;
    width: 100%;
  }

  .reverseFlexSection {
    flex-direction: column;
    width: 100%;
  }
}